<h1> New Discussion Topic </h1>

<br/>

<% if @topic.errors.any? %>
	<h2> There were errors saving your discussion topic</h2>
	<ul>
		<% @topic.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
<% end %>

<%= form_for @topic do |f| %>
	<fieldset>
		<%= f.label :question, "Discussion topic (we recommend that you put it in the form of a question)" %>
		<%= f.text_area :question, required: true %>
		<%= f.label :description, "Description" %>
		<%= f.text_area :description, required: true %>
		<%= f.label :timestamp, "Start time" %>
		<%= f.text_field :timestamp, required: true %>
		<%= f.label :timeframe, "Length of discussion" %>
		<%= f.text_field :timeframe, required: true %>
		<%= f.label :groupsize, "Group size (you can give permission to waitlisted users)" %>
		<%= f.text_field :groupsize, required: true %>  
		<%= f.label :image, "Pick a picture that represents your discussion topic" %>
		<%= f.file_field :image %> 
	</fieldset> 
<br/><br/>

<%= f.submit class: "btn btn-succes btn-medium" %>
<%= link_to "Cancel", topics_path, class: "btn btn-danger btn-medium" %>
<% end %>
