<link href='http://fonts.googleapis.com/css?family=Josefin+Slab|Radley|Volkhov' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="reveal.css">
<script src="jquery.min.js" type="text/javascript"></script>
<script src="jquery.reveal.js" type="text/javascript"></script>
<body>
<h2> New Discussion Topic </h2>

<br/>

<% if @topic.errors.any? %>
	<h2> There were errors saving your discussion topic</h2>
	<ul>
		<% @topic.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
<% end %>

<div id="myModal" class = "reveal-modal">
<%= form_for @topic do |f| %>
	<fieldset>
		<%= f.label :question, "Discussion topic (we recommend that you put it in the form of a question)" %>
		<%= f.text_area :question, required: true %>
		<%= f.label :description, "Description" %>
		<%= f.text_area :description, required: true %>
		<%= f.label :starttime, "Start time" %>
		<%= f.datetime_select :starttime, required: true %>
		<%= f.label :length, "Length of discussion (in minutes)" %>
		<%= f.text_field :length, required: true %>
		<%= f.label :groupsize, "Group size (you can give permission to users who are waitlisted an hour before the discussion)" %>
		<%= f.text_field :groupsize, required: true %> 

		</fieldset> 
		<br/><br/>

		<%= f.submit class: "btn btn-succes btn-medium" %>
		<%= link_to "Cancel", topics_path, class: "btn btn-danger btn-medium" %>
		<% end %>
</div>
</body>
 
		